.hero {
  padding: 2rem 0;
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.hero h1,
.section h2 {
  line-height: 1.15;
  font-size: 52px;
  max-width: 36rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.section h2 {
  margin-bottom: 1.75rem;
}

.section h2 {
  max-width: 48rem;
}

.hero h2 {
  font-size: 32px;
  font-weight: 200;
  max-width: 48rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.section h3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 48rem;
  margin: 0 auto;
}

.hero h2,
.section h3 {
  color: rgba(var(--white), 0.8);
}

.hero img.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.8rem;
}

.hero a {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgb(55 61 87);
  border-radius: 0.25rem;
  
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  
  font-size: 15px;
  color: var(--white);
}

.heroLogo {
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
  display: block;
}

.heroHeadline {
  margin-bottom: 0.5rem;
}

.heroSubheadline {
  margin-bottom: 1.5rem;
}

.heroCTAs {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.section .sectionButton {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 15px;
  color: #FFF;
}

.section {
  padding: 2rem 0;
  margin-top: 8rem;
  margin-bottom: 8rem;
  
}

.sectionHeadline {
  font-size: 52px;
  margin-bottom: 0.5rem;
}

.sectionSubheadline {
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.section img {
  display: block;
  width: 100%;
  max-width: 60rem;
  height: auto;
  margin: 1.5rem auto;
}

.section .sectionButton {
  display: inline-block;
}

.section:nth-of-type(even) {
  border-radius: 2rem;
  
  background: var(--black90);
  border: 1px solid #373d57;
  
  padding-top: 4rem;
  padding-bottom: 4rem;
}